<phpunit bootstrap="./bootstrap.php">
    <testsuite name="Application Test Suite">
        <directory>./application</directory>
    </testsuite>
    <testsuite name="Library Test Suite">
        <directory>./library</directory>
    </testsuite>
    
    <filter>
    	<!--
        <whitelist>
			<exclude>
      		<directory suffix=".php">../../library/Zend</directory>
      		<file>../application/bootsrap.php</file>
    		</exclude>
  		</whitelist> -->
  		<blacklist>
  			<directory suffix=".php">../library/Zend</directory>
  			<directory suffix=".php">../library/ZendX</directory>
  			<directory suffix=".phtml">../view/</directory>
      		<file>../application/Bootstrap.php</file>
  		</blacklist>  
    </filter>
    <logging>
    	<log type="coverage-html" target="./log/report" charset="UTF-8"
         yui="true" highlight = "true" lowUpperBound="50" highLowerBound="80" />
         <log type="testdox" target="./testdox.html" />
     </logging>
     
</phpunit>
